*{box-sizing: border-box;}

body{
    height: 100%;
    width: 100%;
    padding-left: 3%;
    padding-right: 3%;
    margin: 0;
}

/* color of the title, sub title, and footer*/
.color_main{
    background-color:#000080;
    color: white;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

/*home page top picture */
img{
    max-width: 100%;
}

#img_home_top{
  background-image: url(testimages/pic1.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
}

/*logo*/
#lg{
    height: 100px;
    width: 100px;
    position: absolute;
    left: 5%;
    top: 4%;
    background-color: #32CD32;
    color: white;
}

/*company website title*/
#ttl_top{
    color:#32CD32;
    font-size: 50px;
    position: absolute;
    left: auto;
    top: 5%;
    width: 84%;
    text-align-last: right;
    padding-right: 3%;
    padding-top: .5%;
    height: 80px;
   
}

/* top main nav*/
ul,ol{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#nav_top{
    width:100%;
}

#nav_top ul{
    margin: 0;
    position: absolute;
    left: auto;
    top: 20%;
    width: 80%;
    
}

#nav_top li{
    
    text-align: right;
    padding-right: 3%;
    padding-top: 1%;
    height: 50px;
    background-color: #D3D3D3;
    border-top-right-radius:50px;
    border-bottom-right-radius: 50px;
    margin-bottom: 1%;     
}

#nvgtku{
    width: 95%;
}

#nvcu{
    width: 90%;
}

#nvld{
    width: 85%;
}

#nvn{
   width: 80%;
}

/*main content*/
#con_main_hmpg{
    width: 100%;  
}

#ttl_main{
    width: 94%;
    height: 50px;
    text-align: right;
    padding-top: .5%;
    padding-right: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
}

#con_box{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    padding-left: 15%;
    padding-right: 15%;
    
}

#text_box{
    display: flex;
    flex-direction: column;
    padding: 5%;
}

#box1{
    display: flex;
    width: 100%;
    border-radius: 25px;
    background-color: #D3D3D3;
    padding:5%;
}

#box1 img{
    width: 300px;
    height: 300px;
    background-color: aquamarine;
   
}

#box2{
    width: 33.3%;
    border-radius: 25px;
    background-color: #D3D3D3;
    
    
}

#box2 img{
    height: 300px;
    width: 300px;
    background-color: aquamarine;
} 

#box3{
    width: 33.3%;
    border-radius: 25px;
    background-color: #D3D3D3;
    
}

#box3 img{
    height: 300px;
    width: 300px;
    background-color: aquamarine;
}

#box4{
    width: 33.3%;
    border-radius: 25px;
    background-color: #D3D3D3;  
}

#box4 img{
    height: 300px;
    width: 300px;
    background-color: aquamarine;
}

.text-box{
    width: 50%;
    display: flex;
   flex-direction: row; 
}

/*footer*/
#clr_foot_bottom{
    width: 94%;
    display: flex;
    flex-wrap: wrap;
     flex-direction: row;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    border-top-right-radius: 95px;
    border-bottom-right-radius: 95px;
}

#nav_bottom1{
    width: 33.3%;
    padding-left: 1.5%;   
}

#nav_bottom2{
    width: 33.3%;
}

#copyright{
    width: 100%;
   text-align: center;
    padding-top: 3%;
    
}

#media{
    width: 33.3%;
}
